body {
    background: linear-gradient(135deg, #020617, #111827);
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.watch {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px #38bdf8;
}

#time {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
